.upturn-slogan {
  text-align: center;
  font-size: calc(30px + 1.5vh);
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.main-container span {
  display: inline-block;
}

.dot {
  color: orange;
}

.main-container {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  min-height: 30vh;
  font-family: rustica, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.title-container img {
  height: 25vh;
}

footer {
  text-align: center;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
}

footer .chinese-footer{
  font-family: "Apple LiGothic", "LiGothic", "LiHei Pro", "SimHei", sans-serif;
  font-style: normal;
  font-weight: 500;
}
